pre[class*="language-"],
code[class*="language-"] {
	color: #d4d4d4;
	font-size: .9em;
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre[class*="language-"],
	code[class*="language-"] {
		text-shadow: none;
	}
}

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background: #1e1e1e;
}

:not(pre) > code[class*="language-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #1e1e1e;
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6a9955;
}

.token.punctuation {
	color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #d4d4d4;
	/* background: #1e1e1e; */
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #c586c0;
}

.token.function {
	color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
	color: #d16969;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.constant {
	color: #9CDCFE;
}

.token.class-name {
	color: #4EC9B0;
}

.token.parameter {
	color: #9CDCFE;
}

.token.interpolation {
	color: #9CDCFE;
}

.token.punctuation.interpolation-punctuation {
	color: #569cd6;
}

.token.boolean {
	color: #569cd6;
}

.token.property {
	color: #9cdcfe;
}

.token.selector {
	color: #d7ba7d;
}

.token.tag {
	color: #569cd6;
}

.token.attr-name {
	color: #9cdcfe;
}

.token.attr-value {
	color: #ce9178;
}

.token.entity {
	color: #4ec9b0;
	cursor: unset;
}

.token.namespace {
	color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/
pre[class*="language-javascript"],
code[class*="language-javascript"] {
	color: #4ec9b0;
}

pre[class*="language-css"],
code[class*="language-css"] {
	color: #CE9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
	color: #d4d4d4;
}

.language-html .token.punctuation {
	color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
	position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
	position: relative;
	z-index: 1;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}

 
.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span:before,
.language-shell  code:first-child::before
{
  content: "$ ";
  color: #999;
}







.light-theme code[class*="language-"],
.light-theme pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #90a4ae;
	background: #fafafa;
	font-family: Roboto Mono, monospace;
	font-size: .9em;
	line-height: 1.5em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.light-theme code[class*="language-"]::-moz-selection,
.light-theme pre[class*="language-"]::-moz-selection,
.light-theme code[class*="language-"] ::-moz-selection,
.light-theme pre[class*="language-"] ::-moz-selection {
	background: #cceae7;
	color: #263238;
}

.light-theme code[class*="language-"]::selection,
.light-theme pre[class*="language-"]::selection,
.light-theme code[class*="language-"] ::selection,
.light-theme pre[class*="language-"] ::selection {
	background: #cceae7;
	color: #263238;
}

.light-theme :not(pre) > code[class*="language-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #fafafa;
}

.light-theme pre[class*="language-"] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.light-theme .language-css > code,
.light-theme .language-sass > code,
.light-theme .language-scss > code {
	color: #f76d47;
}

.light-theme [class*="language-"] .namespace {
	opacity: 0.7;
}

.light-theme .token.atrule {
	color: #7c4dff;
}

.light-theme .token.attr-name {
	color: #39adb5;
}

.light-theme .token.attr-value {
	color: #f6a434;
}

.light-theme .token.attribute {
	color: #f6a434;
}

.light-theme .token.boolean {
	color: #7c4dff;
}

.light-theme .token.builtin {
	color: #39adb5;
}

.light-theme .token.cdata {
	color: #39adb5;
}

.light-theme .token.char {
	color: #39adb5;
}

.light-theme .token.class {
	color: #39adb5;
}

.light-theme .token.class-name {
	color: #6182b8;
}

.light-theme .token.comment {
	color: #aabfc9;
}

.light-theme .token.constant {
	color: #7c4dff;
}

.light-theme .token.deleted {
	color: #e53935;
}

.light-theme .token.doctype {
	color: #aabfc9;
}

.light-theme .token.entity {
	color: #e53935;
}

.light-theme .token.function {
	color: #7c4dff;
}

.light-theme .token.hexcode {
	color: #f76d47;
}

.light-theme .token.id {
	color: #7c4dff;
	font-weight: bold;
}

.light-theme .token.important {
	color: #7c4dff;
	font-weight: bold;
}

.light-theme .token.inserted {
	color: #39adb5;
}

.light-theme .token.keyword {
	color: #7c4dff;
}

.light-theme .token.number {
	color: #f76d47;
}

.light-theme .token.operator {
	color: #39adb5;
}

.light-theme .token.prolog {
	color: #aabfc9;
}

.light-theme .token.property {
	color: #39adb5;
}

.light-theme .token.pseudo-class {
	color: #f6a434;
}

.light-theme .token.pseudo-element {
	color: #f6a434;
}

.light-theme .token.punctuation {
	color: #39adb5;
}

.light-theme .token.regex {
	color: #6182b8;
}

.light-theme .token.selector {
	color: #e53935;
}

.light-theme .token.string {
	color: #f6a434;
}

.light-theme .token.symbol {
	color: #7c4dff;
}

.light-theme .token.tag {
	color: #e53935;
}

.light-theme .token.unit {
	color: #f76d47;
}

.light-theme .token.url {
	color: #e53935;
}

.light-theme .token.variable {
	color: #e53935;
}
